page-password {
	.button {
		height: 50px;
	}

	.form {
		margin-bottom: 30px;
	}

	p {
		margin-bottom: 30px;
		margin-top: 20px;
		font-size: 1.55rem;
		font-weight: 500;
	}

	.header {
		.toolbar-content {
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;

			.title {
				.toolbar-title {
					text-align: center !important;
					display: block;
				}
			}

		}
	}
}